<h6><center>Big Data Algorithms Techniques & Platforms | Coded by Yue CHEN</center></h6>

<h1>
<hr style=" border:none; height:3px;">
<center>Assignment 1: Introduction to MapReduce</center>
<hr style=" border:none; height:3px;">
</h1>


# <strong> Important </strong>

For this assignment, as you did in the first lab, do not use the native fuctions <code>map()</code> and <code>reduce()</code> of Python.


<hr>

## Flights and Airports Data

For this assignment you are going to analyze a dataset that will include flight data.

The dataset comes from <a href="https://www.kaggle.com/flashgordon/usa-airport-dataset">Kaggle</a> and is presented here as an extract called <code>extract_flights.csv</code>

The dataset is in a <code>.csv</code> file. Each line of the file represents a different flight. The data collected contain:


<code>Origin_airport</code>: Three letter airport code of the origin airport </br>
<code>Destination_airport</code>: Three letter airport code of the destination airport</br>
<code>Origin_city</code>: Origin city name</br>
<code>Destination_city</code>: Destination city name</br>
<code>Passengers</code>: Number of passengers transported from origin to destination</br>
<code>Seats</code>: Number of seats available on flights from origin to destination</br>
<code>Flights</code>: Number of flights between origin and destination (multiple records for one month, many with flights > 1)</br>
<code>Distance</code>: Distance (to nearest mile) flown between origin and destination</br>
<code>Fly_date</code>: The date (yyyymm) of flight</br>
<code>Origin_population</code>: Origin city's population as reported by US Census</br>
<code>Destination_population</code>: Destination city's population as reported by US Census</br>


Two files are available in the folder:

<ul>
  <li> <code> small_file.csv</code> </li>
  <li> <code> medium_file.csv</code> </li>
</ul>

For more complex analysis/statistics you can also download the original file available on kaggle.

### Helper function ... just in case

Here is a function that you can modify, reuse, not-use for giving you an idea about how to read a <code>.csv</code> file and remove the header.

In [ ]:
# Here a simple function that reads a .csv file, removes the header,
# and writes the output on a .txt file having the same name of the input file + the keyword "no_header"
# input: a csv file
def remove_header(filename) :
  with open(filename + ".csv",'r') as f:
    with open(filename + "no_header.txt",'w') as f1:
        next(f) # skip header line
        for line in f:
            f1.write(line)
  return f1

remove_header('small_file')
print("file correctly saved")

file correctly saved

### <strong> Exercise 1 - Almost-empty flights</strong> 
#### <strong> 4 points </strong>
Describe and define a MapReduce procedure that gives as output the number of flights that departed with 10% of capacity maximum (i.e. empty, 1%, 6%, etc.) . 

The output can be of any form you like. 

You can use any data structure you want to support your implementation.

In [ ]:
# import library
from collections import defaultdict
import numpy as np
import pandas as pd # only used for read data

In [ ]:
# read flight data and transform every row to a list
data_tb = pd.read_csv("medium_file.csv")
data_list = data_tb.values.tolist()

In [ ]:
# map 
# mapping logic: devide flights into 3 set by
# calculating the capital level of every flight and comparing with 10%
def map_e_flights(list_2):
    #to be completed
    cap_lvl = 0.1
    map_res = []
    for list_1 in list_2:
      psg = float(list_1[4])
      seat = float(list_1[5])
      if seat == 0:
        t = ('miss_info',1)   
      elif psg/seat > cap_lvl:
        t = ('high_cap',1)
      else:
        t = ('low_cap',1)
      map_res.append(t)
    return map_res

# shuffle
# put flight with the same level of capital value in the same shuffle
def shuffle_e_flights(map_list):
    #to be completed
    shuffle = defaultdict(list)
    for k,v in map_list:
      shuffle[k].append(v)
    return shuffle

# reduce
# group the flight number of different capital value
def reduce_e_flights(shuffle_dict):
    #to be completed
    res = []
    for key in shuffle_dict:
      res.append((key,sum(shuffle_dict[key])))
    return res

In [ ]:
# operate the process
reduce_e_flights(shuffle_e_flights(map_e_flights(data_list)))

[('high_cap', 86742), ('low_cap', 3233), ('miss_info', 10024)]

Look at your implementation and think about your program. Is there any option to add a `combine` operation?  If yes describe your new approach and provide an improved version of your code.

Describe in detail your procedure before the code (in the comment lines).

In [ ]:
# it is not neccessary to use combine function here
# because we read data just for one time 
# thus for every flight there is only one value matched it, instead of a list of data matched it

### <strong> Exercise 2 - Top five destination airports </strong>
### <strong> 4 points </strong>

Provide now a function that lists the top five destination <strong>airports</strong>: the ones that have the highest number of incoming flights. Implement an algorithm that uses the MapReduce procedure.

In [ ]:
# map
# mapping according to the destination airport of the flight
def map_top_flights(list_2):
    #to be completed
    map_res = []
    for list_1 in list_2:
      map_res.append((list_1[1],1)) 
    return map_res

# shuffle
# put flight with the same destination airport in the same shuffle
def shuffle_top_flights(map_list):
    #to be completed
    shuffle = defaultdict(list)
    for k,v in map_list:
      shuffle[k].append(v)
    return shuffle


# group the flight number of different destination airport
def reduce_top_flights(shuffle_dict):
    #to be completed
    res = []
    for key in shuffle_dict:
      res.append((key,sum(shuffle_dict[key])))
    res.sort(key = lambda x: x[1], reverse = True)
    return res[:5]

In [ ]:
# operate the process
# show the top five destination airports
reduce_top_flights(shuffle_top_flights(map_top_flights(data_list)))

[('MIA', 47563), ('RNO', 14612), ('EKO', 7926), ('CAK', 4512), ('FNT', 4109)]

### <strong> Exercise 3 - Top 5 destination cities </strong>
#### <strong>  2 points </strong>

Try to reuse the code you run before and define a function that lists the top five destination <strong>cities</strong>: the ones that have the highest number of incoming flights. Implement an algorithm that uses the MapReduce procedure.

In [ ]:
# map
# mapping according to the destination city of the flight
def map_top_cities(list_2):
    #to be completed
    map_res = []
    for list_1 in list_2:
      map_res.append((list_1[3],1)) 
    return map_res

# shuffle
# put flight with the same destination city in the same shuffle
def shuffle_top_cities(map_list):
    #to be completed
    shuffle = defaultdict(list)
    for k,v in map_list:
      shuffle[k].append(v)
    return shuffle

# group the flight number of different destination city
def reduce_top_cities(shuffle_dict):
    #to be completed
    res = []
    for key in shuffle_dict:
      res.append((key,sum(shuffle_dict[key])))
    res.sort(key = lambda x: x[1], reverse = True)
    return res[:5]

In [ ]:
# operate the process
# show the top five destination cities
reduce_top_cities(shuffle_top_cities(map_top_cities(data_list)))

[('Miami, FL', 47832),
 ('Reno, NV', 14612),
 ('Elko, NV', 7926),
 ('Akron, OH', 4512),
 ('Flint, MI', 4109)]

## Statistics on flights

<p align="justify">
<font size="3">
Now we want to run some more complex analysis on the flights. 
</font>
</p>

### <strong> Exercise 4 - Top five connections by month</strong>
#### <strong> 4 points </strong>

Try to reuse the code you run before and define now a function that lists the top five connections by each month: the top five pairs of cities that have the most number of connections (the function takes into account the flights from A to B and from B to A by month/year). Implement an algorithm that uses the MapReduce procedure.

In [ ]:
import datetime

In [ ]:
# map
# deviding data by month and
# mapping according to the connection of the flight
def map_top_connections(list_2):
    #to be completed
    map_res = defaultdict(list)
    for list_1 in list_2:
      month = datetime.datetime.strptime(list_1[8],"%Y-%m-%d").strftime("%Y-%m")
      connection = ' <==> '.join((set(list_1[2:4]))) # Special expression for connection made by Yue CHEN
      connection_value = (connection, 1)
      map_res[month].append(connection_value)
    return map_res

# shuffle
# put flight with the same connection in the same shuffle
def shuffle_top_connections(map_dict):
    #to be completed
    shuffle_dict = defaultdict()
    for month in map_dict:
      shuffle = defaultdict(list)
      for k,v in map_dict[month]:
        shuffle[k].append(v)
      shuffle_dict[month] = shuffle
    return shuffle_dict

# reduce
# group the flight number of different connection
def reduce_top_connections(shuffle_dict):
    #to be completed
    res_dict = defaultdict()
    for month in shuffle_dict:
      res = []
      for key in shuffle_dict[month]:
        res.append((key,sum(shuffle_dict[month][key])))
      res.sort(key = lambda x: x[1], reverse = True)
      res_dict[month] = (res[:5])
    return res_dict

In [ ]:
# operate the process
# find the top five connections
top_conn_by_month = reduce_top_connections(shuffle_top_connections(map_top_connections(data_list)))
# look at top connections of two months
print(top_conn_by_month['2009-01'])
print(top_conn_by_month['2008-11'])

[('Miami, FL <==> Atlanta, GA', 15), ('Miami, FL <==> New York, NY', 12), ('Miami, FL', 10), ('Reno, NV <==> Salt Lake City, UT', 9), ('Miami, FL <==> Memphis, TN', 9)]
[('Miami, FL <==> Memphis, TN', 13), ('Miami, FL <==> New York, NY', 12), ('Fargo, ND <==> Minneapolis, MN', 10), ('Miami, FL <==> Atlanta, GA', 10), ('Charlotte, NC <==> Miami, FL', 9)]

Look at your code. Can you use a <code>combine()</code> operation? 

If you cannot directly think about how you can represent the key-value pairs in a way that allows you to take advantage of a combine.

In [ ]:
# map
def map_top_connections(list_2):
    #to be completed
    map_res = defaultdict(list)
    for list_1 in list_2:
      month = datetime.datetime.strptime(list_1[8],"%Y-%m-%d").strftime("%Y-%m")
      connection = ' <==> '.join((set(list_1[2:4]))) # Special expression for connection made by Yue CHEN
      connection_value = (connection, 1)
      map_res[month].append(connection_value)
    return map_res

# combine
# group once within the months and connections, thus it would be easy to do different group calculaition in the reduce session
# this also pass less size of data to shuffle and reduce, slightening the workload
# it is a function that can be reused
def combine_top_connections(map_dict):
  combine = defaultdict()
  for month in map_dict:
    conn_dict = defaultdict()
    for k,v in map_dict[month]:
      if k in conn_dict:
        conn_dict[k] += 1
      else:
        conn_dict[k] = 1  
    combine[month] = conn_dict 
  return combine

# shuffle
def shuffle_top_connections(map_dict_2):
    #to be completed
    shuffle = defaultdict(list)
    for month in map_dict_2:
      for key in map_dict_2[month]:
        shuffle[month].append((key,map_dict_2[month][key]))
    return shuffle

#Provide here few comment lines that describe your reduce function
def reduce_top_connections(shuffle_dict):
    #to be completed
    res_dict = defaultdict()
    for month in shuffle_dict:
      res = []
      for k,v in shuffle_dict[month]:
        res.append((k,v))
      res.sort(key = lambda x: x[1], reverse = True)
      res_dict[month] = (res[:5])
    return res_dict

In [ ]:
# operate the process
# find the top five connections
top_conn_by_month = reduce_top_connections(shuffle_top_connections(combine_top_connections(map_top_connections(data_list))))
# look at top connections of two months
print(top_conn_by_month['2009-01'])
print(top_conn_by_month['2008-11'])

[('Miami, FL <==> Atlanta, GA', 15), ('Miami, FL <==> New York, NY', 12), ('Miami, FL', 10), ('Reno, NV <==> Salt Lake City, UT', 9), ('Miami, FL <==> Memphis, TN', 9)]
[('Miami, FL <==> Memphis, TN', 13), ('Miami, FL <==> New York, NY', 12), ('Fargo, ND <==> Minneapolis, MN', 10), ('Miami, FL <==> Atlanta, GA', 10), ('Charlotte, NC <==> Miami, FL', 9)]

### <strong> Exercise 5 - Number of full flights</strong>
#### <strong> 2 points </strong>
<p align="justify">
<font size="3">
Describe and implement an algorithm that, following MapReduce procedure, shows how many full flights have departed. This exercise gives you an idea about how many times you can re-use code in MapReduce with minimum effort for repetitive analysis.
</font>
</p>

In [ ]:
# mapreduce using data_list, vrb and logic
# input data, variables to count and calculate logic, so that the mapreduce process can be used with different devide logic
# here the type of date, variables to count and calculate logic is list, int, function

# map
# mapping according to a logic, which is a function that can be defined later
def map_with_logic(list_2, vrb, logic):
    #to be completed
    map_res = []
    for list_1 in list_2:
      if logic(vrb, list_1):
        map_res.append((True,1))
      else:
        map_res.append((False,1))
    return map_res

# shuffle
# put flight with the same logic in the same shuffle
def shuffle_with_logic(map_list):
    #to be completed
    shuffle = defaultdict(list)
    for k,v in map_list:
      shuffle[k].append(v)
    return shuffle

# reduce
# group the flight number of different logic
def reduce_with_logic(shuffle_dict):
    #to be completed
    res = []
    for key in shuffle_dict:
      res.append((key,sum(shuffle_dict[key])))
    res.sort(key = lambda x: x[1], reverse = True)
    return res

In [ ]:
# operate the process

# define the column to be cal
vrb = 4

# define the logic function to devide flights
# test if a flight is full
def logic(col_num, flight_list):
  res = False
  pasg = flight_list[col_num]
  seat = flight_list[col_num+1]
  if pasg >= seat:
    res = True
  return res

# mapreduce using data_list, vrb and logic function
reduce_with_logic(shuffle_with_logic(map_with_logic(data_list, vrb, logic)))

[(False, 9201), (True, 798)]


### <strong> Exercise 6 -  Average/percentage </strong>
#### <strong> 4 points </strong>

<p align="justify">
<font size="3">
Describe and implement a MapReduce procedure that gives, for each city, the percentage/average, of full flights that have departed.

Notice that this exercise shares some similarities with one of the previous exercises. Think how and if you can modify (generalize) one of the functions already implemented before. 
</font>
</p>

In [ ]:
# map
# deviding data by city and
# mapping according to the if_full of the flight
def map_full_pct(list_2):
    #to be completed
    map_res = defaultdict(list)
    for list_1 in list_2:
      city = list_1[2]
      psg = float(list_1[4])
      seat = float(list_1[5])
      if seat == psg:
        if_full = 'full'
      else:
        if_full = 'not_full'
      full_value = (if_full, 1)
      map_res[city].append(full_value)
    return map_res

# shuffle
# put flight with the same if_full in the same shuffle
def shuffle_full_pct(map_dict):
    #to be completed
    shuffle_dict = defaultdict()
    for city in map_dict:
      shuffle = defaultdict(list)
      for k,v in map_dict[city]:
        shuffle[k].append(v)
      shuffle_dict[city] = shuffle
    return shuffle_dict

# reduce
# group the full percentage of departed flights of city
def reduce_full_pct(shuffle_dict):
    #to be completed
    res_dict = defaultdict()
    for city in shuffle_dict:
      full_num = 0
      not_full_num = 0
      for key in shuffle_dict[city]:
        if key == 'full':
          full_num = sum(shuffle_dict[city][key])
        else:
          not_full_num = sum(shuffle_dict[city][key])
      if (full_num + not_full_num) == 0:
        full_pct = 0
      else:
        full_pct = full_num / (full_num + not_full_num) * 100
      res_dict[city] = full_pct
    return res_dict

In [ ]:
# operate the process
# show full percentage of departed flights by city
reduce_full_pct(shuffle_full_pct(map_full_pct(data_list)))

defaultdict(None,
            {'Aberdeen, SD': 7.6923076923076925,
             'Abilene, TX': 6.779661016949152,
             'Akron, OH': 4.166666666666666,
             'Alamogordo, NM': 33.33333333333333,
             'Albany, GA': 10.294117647058822,
             'Albany, NY': 11.538461538461538,
             'Albuquerque, NM': 7.473309608540925,
             'Alexandria, LA': 0.0,
             'Allentown, PA': 2.941176470588235,
             'Alpena, MI': 98.88888888888889,
             'Altus, OK': 0.0,
             'Amarillo, TX': 4.651162790697675,
             'Anchorage, AK': 89.72972972972974,
             'Anderson, SC': 0.0,
             'Appleton, WI': 27.27272727272727,
             'Ardmore, OK': 100.0,
             'Asheville, NC': 0.0,
             'Astoria, OR': 0.0,
             'Athens, GA': 0.0,
             'Atlanta, GA': 8.351223701159295,
             'Atlantic City, NJ': 0.8733624454148471,
             'Augusta, GA': 8.333333333333332,
             'Austin, TX': 9.615384615384617,
             'Bakersfield, CA': 3.3333333333333335,
             'Baltimore, MD': 2.6483050847457625,
             'Bangor, ME': 62.251655629139066,
             'Baton Rouge, LA': 5.454545454545454,
             'Battle Creek, MI': 100.0,
             'Beaumont, TX': 10.0,
             'Bellingham, WA': 7.614213197969544,
             'Bemidji, MN': 100.0,
             'Bend, OR': 6.976744186046512,
             'Billings, MT': 7.373271889400922,
             'Binghamton, NY': 0.0,
             'Birmingham, AL': 4.878048780487805,
             'Bismarck, ND': 4.958677685950414,
             'Bloomington, IL': 6.451612903225806,
             'Bloomington, IN': 50.0,
             'Blytheville, AR': 50.0,
             'Boston, MA': 3.173311635475997,
             'Bowling Green, KY': 33.33333333333333,
             'Bozeman, MT': 0.3597122302158274,
             'Brainerd, MN': 0.0,
             'Brigham City, UT': 100.0,
             'Brookings, SD': 0.0,
             'Brownsville, TX': 62.5,
             'Brownwood, TX': 0.0,
             'Brunswick, GA': 2.5,
             'Buffalo, NY': 27.906976744186046,
             'Burlington, IA': 0.0,
             'Burlington, VT': 37.5,
             'Butte, MT': 6.097560975609756,
             'Carlsbad, NM': 23.636363636363637,
             'Casper, WY': 2.7777777777777777,
             'Cedar City, UT': 20.0,
             'Cedar Rapids, IA': 11.585365853658537,
             'Champaign, IL': 7.142857142857142,
             'Charleston, SC': 23.170731707317074,
             'Charleston, WV': 8.0,
             'Charlotte, NC': 3.189066059225513,
             'Charlottesville, VA': 0.0,
             'Chattanooga, TN': 8.333333333333332,
             'Cheyenne, WY': 1.4705882352941175,
             'Chicago, IL': 10.578621908127209,
             'Chico, CA': 0.0,
             'Cincinnati, OH': 11.963406052076003,
             'Clarksburg, WV': 0.0,
             'Cleveland, OH': 7.086167800453515,
             'Clovis, NM': 18.181818181818183,
             'College Station, TX': 3.8461538461538463,
             'Colorado Springs, CO': 15.428571428571427,
             'Columbia, MO': 25.0,
             'Columbia, SC': 84.23076923076923,
             'Columbia, TN': 100.0,
             'Columbus, GA': 0.0,
             'Columbus, IN': 100.0,
             'Columbus, MS': 16.666666666666664,
             'Columbus, OH': 6.5625,
             'Corpus Christi, TX': 4.25531914893617,
             'Crescent City, CA': 98.86363636363636,
             'Crossville, TN': 100.0,
             'Dallas, TX': 4.672589667653834,
             'Dayton, OH': 36.64772727272727,
             'Decatur, AL': 100.0,
             'Decatur, IL': 0.0,
             'Del Rio, TX': 66.66666666666666,
             'Des Moines, IA': 13.131313131313133,
             'Detroit, MI': 13.493635077793495,
             'Dickinson, ND': 100.0,
             'Dodge City, KS': 0.0,
             'Dothan, AL': 0.0,
             'Dover, DE': 100.0,
             'Dubuque, IA': 14.285714285714285,
             'Duluth, MN': 11.627906976744185,
             'Durango, CO': 0.0,
             'Eau Claire, WI': 10.112359550561797,
             'El Centro, CA': 22.727272727272727,
             'El Dorado, AR': 0.0,
             'El Paso, TX': 29.55665024630542,
             'Elkhart, IN': 100.0,
             'Elko, NV': 4.634146341463414,
             'Elmira, NY': 7.142857142857142,
             'Enid, OK': 0.0,
             'Erie, PA': 9.090909090909092,
             'Eugene, OR': 3.314917127071823,
             'Eureka, CA': 61.29032258064516,
             'Evansville, IN': 22.388059701492537,
             'Fairbanks, AK': 35.294117647058826,
             'Fallon, NV': 0.0,
             'Fargo, ND': 16.176470588235293,
             'Farmington, NM': 0.0,
             'Fayetteville, AR': 5.769230769230769,
             'Fayetteville, NC': 0.0,
             'Flagstaff, AZ': 50.0,
             'Flint, MI': 33.33333333333333,
             'Florence, SC': 11.76470588235294,
             'Fort Dodge, IA': 8.333333333333332,
             'Fort Lauderdale, FL': 15.463917525773196,
             'Fort Leonard Wood, MO': 0.0,
             'Fort Smith, AR': 7.865168539325842,
             'Fort Wayne, IN': 64.51612903225806,
             'Fresno, CA': 1.8957345971563981,
             'Gainesville, FL': 1.4084507042253522,
             'Garden City, KS': 17.5,
             'Gary, IN': 11.504424778761061,
             'Gillette, WY': 0.0,
             'Goldsboro, NC': 100.0,
             'Grand Forks, ND': 44.13145539906103,
             'Grand Island, NE': 7.6923076923076925,
             'Grand Junction, CO': 5.5045871559633035,
             'Grand Rapids, MI': 35.714285714285715,
             'Great Bend, KS': 0.0,
             'Great Falls, MT': 16.867469879518072,
             'Green Bay, WI': 20.8,
             'Greensboro, NC': 15.254237288135593,
             'Greenville, MS': 0.0,
             'Greenville, NC': 16.666666666666664,
             'Greenville, SC': 43.58974358974359,
             'Gulfport, MS': 4.761904761904762,
             'Hagerstown, MD': 0.0,
             'Harrisburg, PA': 10.344827586206897,
             'Harrison, AR': 0.0,
             'Hartford, CT': 6.606606606606606,
             'Hattiesburg, MS': 0.0,
             'Helena, MT': 1.2987012987012987,
             'Hickory, NC': 100.0,
             'Hobbs, NM': 0.0,
             'Honolulu, HI': 24.161073825503358,
             'Hot Springs, AR': 100.0,
             'Houston, TX': 7.403008709422012,
             'Huntsville, AL': 84.12698412698413,
             'Huron, SD': 0.0,
             'Idaho Falls, ID': 30.0,
             'Indianapolis, IN': 34.93044822256569,
             'Ithaca, NY': 15.384615384615385,
             'Jackson, MS': 14.814814814814813,
             'Jackson, WY': 0.0,
             'Jacksonville, FL': 10.875706214689265,
             'Jacksonville, NC': 4.545454545454546,
             'Jamestown, ND': 0.0,
             'Jamestown, NY': 100.0,
             'Johnstown, PA': 0.0,
             'Joplin, MO': 0.0,
             'Kahului, HI': 15.579710144927535,
             'Kalamazoo, MI': 3.7037037037037033,
             'Kalispell, MT': 3.4482758620689653,
             'Kansas City, MO': 13.478260869565217,
             'Kearney, NE': 0.0,
             'Ketchikan, AK': 0.0,
             'Key West, FL': 3.0303030303030303,
             'Killeen, TX': 2.3622047244094486,
             'Kinston, NC': 16.666666666666664,
             'Kirksville, MO': 100.0,
             'Klamath Falls, OR': 28.965517241379313,
             'Knoxville, TN': 15.151515151515152,
             'La Crosse, WI': 19.148936170212767,
             'Lafayette, IN': 0.0,
             'Lafayette, LA': 7.6923076923076925,
             'Lake Charles, LA': 0.0,
             'Lake City, FL': 0.0,
             'Lake Havasu City, AZ': 91.66666666666666,
             'Lakeland, FL': 0.0,
             'Lansing, MI': 2.7522935779816518,
             'Laramie, WY': 0.0,
             'Laredo, TX': 53.142857142857146,
             'Las Cruces, NM': 0.0,
             'Las Vegas, NV': 2.5906735751295336,
             'Lawton, OK': 0.0,
             'Lewiston, ID': 6.60377358490566,
             'Lexington, KY': 82.6086956521739,
             'Liberal, KS': 8.0,
             'Lincoln, NE': 12.790697674418606,
             'Little Rock, AR': 28.78787878787879,
             'Logan, UT': 0.0,
             'London, KY': 100.0,
             'Longview, TX': 2.857142857142857,
             'Los Angeles, CA': 10.760353021045486,
             'Lubbock, TX': 25.6198347107438,
             'Lynchburg, VA': 0.0,
             'Macon, GA': 25.0,
             'Madison, WI': 13.385826771653544,
             'Madisonville, KY': 100.0,
             'Manchester, NH': 12.5,
             'Manhattan, KS': 0.0,
             'Mansfield, OH': 100.0,
             'Marion, IL': 0.0,
             'Marion, OH': 100.0,
             'Marquette, MI': 0.0,
             'Mason City, IA': 33.33333333333333,
             'Medford, OR': 4.424778761061947,
             'Memphis, TN': 41.78010471204188,
             'Merced, CA': 0.0,
             'Meridian, MS': 0.0,
             'Miami, FL': 78.44660194174757,
             'Miami, OK': 100.0,
             'Midland, TX': 2.0408163265306123,
             'Milwaukee, WI': 5.121293800539084,
             'Minneapolis, MN': 1.3812154696132597,
             'Minot, ND': 7.792207792207792,
             'Missoula, MT': 1.098901098901099,
             'Mobile, AL': 21.052631578947366,
             'Modesto, CA': 5.88235294117647,
             'Monroe, LA': 0.0,
             'Montgomery, AL': 12.5,
             'Montrose, CO': 12.5,
             'Morristown, TN': 100.0,
             'Moses Lake, WA': 20.0,
             'Mountain Home, ID': 33.33333333333333,
             'Muncie, IN': 0.0,
             'Muskegon, MI': 0.0,
             'Myrtle Beach, SC': 3.8461538461538463,
             'Naples, FL': 0.8928571428571428,
             'Nashville, TN': 8.190476190476192,
             'New Bern, NC': 0.0,
             'New Iberia, LA': 0.0,
             'New Orleans, LA': 5.922165820642978,
             'New York, NY': 12.213873842390354,
             'Newark, NJ': 4.746317512274959,
             'North Platte, NE': 20.0,
             'Oakland, CA': 19.979919678714857,
             'Ocala, FL': 85.71428571428571,
             'Ogden, UT': 25.0,
             'Oklahoma City, OK': 12.23021582733813,
             'Omaha, NE': 38.70967741935484,
             'Orlando, FL': 5.588462528972444,
             'Oshkosh, WI': 0.0,
             'Paducah, KY': 33.33333333333333,
             'Panama City, FL': 6.666666666666667,
             'Pendleton, OR': 0.0,
             'Pensacola, FL': 2.857142857142857,
             'Peoria, IL': 13.636363636363635,
             'Philadelphia, PA': 4.183154324477106,
             'Phoenix, AZ': 8.086610693769334,
             'Pierre, SD': 0.0,
             'Pittsburgh, PA': 1.1368421052631579,
             'Pocatello, ID': 0.0,
             'Ponca City, OK': 0.0,
             'Port Angeles, WA': 7.82608695652174,
             'Portland, ME': 16.666666666666664,
             'Portland, OR': 11.181770005299416,
             'Providence, RI': 23.91304347826087,
             'Pueblo, CO': 11.666666666666666,
             'Pullman, WA': 0.0,
             'Quincy, IL': 0.0,
             'Raleigh, NC': 3.8181818181818183,
             'Rapid City, SD': 11.864406779661017,
             'Reading, PA': 4.3478260869565215,
             'Redding, CA': 12.5,
             'Reno, NV': 3.3333333333333335,
             'Richmond, VA': 3.0303030303030303,
             'Riverside, CA': 50.0,
             'Riverton, WY': 0.0,
             'Roanoke, VA': 16.3265306122449,
             'Rochester, MN': 16.666666666666664,
             'Rochester, NY': 22.58064516129032,
             'Rock Springs, WY': 0.0,
             'Rockford, IL': 18.248175182481752,
             'Rocky Mount, NC': 100.0,
             'Roseburg, OR': 100.0,
             'Roswell, NM': 1.6129032258064515,
             'Ruidoso, NM': 0.0,
             'Sacramento, CA': 54.27682737169518,
             'Saginaw, MI': 5.88235294117647,
             'Salem, OR': 4.545454545454546,
             'Salina, KS': 40.0,
             'Salt Lake City, UT': 3.7293553542887588,
             'San Angelo, TX': 5.769230769230769,
             'San Antonio, TX': 7.172995780590717,
             'San Diego, CA': 2.810304449648712,
             'San Francisco, CA': 1.2279765082754939,
             'San Jose, CA': 2.2041763341067284,
             'San Luis Obispo, CA': 9.090909090909092,
             'Sandusky, OH': 100.0,
             'Santa Ana, CA': 2.788844621513944,
             'Santa Barbara, CA': 0.0,
             'Santa Fe, NM': 0.0,
             'Santa Rosa, CA': 0.0,
             'Savannah, GA': 7.954545454545454,
             'Scottsbluff, NE': 10.144927536231885,
             'Scranton, PA': 4.3478260869565215,
             'Seattle, WA': 4.512635379061372,
             'Shelbyville, TN': 100.0,
             'Sheridan, WY': 0.0,
             'Shreveport, LA': 25.663716814159294,
             'Sioux City, IA': 0.0,
             'Sioux Falls, SD': 39.57219251336899,
             'South Bend, IN': 3.260869565217391,
             'Spokane, WA': 5.379746835443038,
             'Springfield, IL': 10.784313725490197,
             'Springfield, MO': 9.722222222222223,
             'St. George, UT': 0.0,
             'St. Louis, MO': 2.2900763358778624,
             'State College, PA': 0.0,
             'Staunton, VA': 0.0,
             'Stillwater, OK': 0.0,
             'Stockton, CA': 5.88235294117647,
             'Sumter, SC': 40.0,
             'Syracuse, NY': 10.416666666666668,
             'Tacoma, WA': 20.0,
             'Talladega, AL': 100.0,
             'Tallahassee, FL': 2.2452504317789295,
             'Tampa, FL': 3.166378814047208,
             'Terre Haute, IN': 28.57142857142857,
             'Toledo, OH': 44.79166666666667,
             'Topeka, KS': 6.802721088435375,
             'Traverse City, MI': 43.75,
             'Trenton, NJ': 0.0,
             'Tucson, AZ': 1.694915254237288,
             'Tulsa, OK': 7.086614173228346,
             'Tupelo, MS': 25.0,
             'Tuscaloosa, AL': 44.44444444444444,
             'Twin Falls, ID': 11.76470588235294,
             'Tyler, TX': 0.0,
             'Utica, NY': 0.0,
             'Valdosta, GA': 1.4492753623188406,
             'Waco, TX': 8.333333333333332,
             'Warrensburg, MO': 0.0,
             'Washington, DC': 0.8264462809917356,
             'Waterloo, IA': 20.0,
             'Wausau, WI': 13.461538461538462,
             'Wenatchee, WA': 0.0,
             'West Palm Beach, FL': 20.858164481525627,
             'Wichita Falls, TX': 6.622516556291391,
             'Wichita, KS': 21.31782945736434,
             'Williston, ND': 100.0,
             'Wilmington, DE': 62.5,
             'Wilmington, NC': 5.660377358490567,
             'Wilmington, OH': 100.0,
             'Winchester, VA': 100.0,
             'Worcester, MA': 0.0,
             'Yakima, WA': 4.878048780487805,
             'Youngstown, OH': 1.7361111111111112,
             'Yuma, AZ': 18.181818181818183})

Look at your code. Can you use a <code>combine()</code> operation? 

If you cannot directly think about how you can represent the key-value pairs in a way that allows you to take advantage of a combine.

In [ ]:
# map
# Provide here few comment lines that describe your map function
def map_full_pct(list_2):
    #to be completed
    map_res = defaultdict(list)
    for list_1 in list_2:
      city = list_1[2]
      psg = float(list_1[4])
      seat = float(list_1[5])
      if seat == psg:
        if_full = 'full'
      else:
        if_full = 'not_full'
      full_value = (if_full, 1)
      map_res[city].append(full_value)
    return map_res

# combine
# reused the combine function write in Ex 4
# group once within the cities and if_full, thus it would be easy to do different group calculaition in the reduce session
# this also pass less size of data to shuffle and reduce, slightening the workload
def combine_full_pct(map_dict):
  combine = defaultdict()
  for city in map_dict:
    conn_dict = defaultdict()
    for k,v in map_dict[city]:
      if k in conn_dict:
        conn_dict[k] += 1
      else:
        conn_dict[k] = 1  
    combine[city] = conn_dict 
  return combine

# shuffle
# reused the combine function write in Ex 4
def shuffle_full_pct(map_dict_2):
    #to be completed
    shuffle = defaultdict(list)
    for city in map_dict_2:
      for key in map_dict_2[city]:
        shuffle[city].append((key,map_dict_2[city][key]))
    return shuffle

# reduce
# group the full percentage of departed flights of cities
def reduce_full_pct(shuffle_dict):
    #to be completed
    res_dict = defaultdict()
    for city in shuffle_dict:
      full_num = 0
      not_full_num = 0
      for k,v in shuffle_dict[city]:
        if k == 'full':
          full_num = v
        else:
          not_full_num = v
      if (full_num + not_full_num) == 0:
        full_pct = 0
      else:
        full_pct = full_num / (full_num + not_full_num) * 100
      res_dict[city] = full_pct
    return res_dict

In [ ]:
# operate the process
# show full percentage of departed flights by city
reduce_full_pct(shuffle_full_pct(combine_full_pct(map_top_connections(data_list))))

defaultdict(None,
            {'Aberdeen, SD': 7.6923076923076925,
             'Abilene, TX': 6.779661016949152,
             'Akron, OH': 4.166666666666666,
             'Alamogordo, NM': 33.33333333333333,
             'Albany, GA': 10.294117647058822,
             'Albany, NY': 11.538461538461538,
             'Albuquerque, NM': 7.473309608540925,
             'Alexandria, LA': 0.0,
             'Allentown, PA': 2.941176470588235,
             'Alpena, MI': 98.88888888888889,
             'Altus, OK': 0.0,
             'Amarillo, TX': 4.651162790697675,
             'Anchorage, AK': 89.72972972972974,
             'Anderson, SC': 0.0,
             'Appleton, WI': 27.27272727272727,
             'Ardmore, OK': 100.0,
             'Asheville, NC': 0.0,
             'Astoria, OR': 0.0,
             'Athens, GA': 0.0,
             'Atlanta, GA': 8.351223701159295,
             'Atlantic City, NJ': 0.8733624454148471,
             'Augusta, GA': 8.333333333333332,
             'Austin, TX': 9.615384615384617,
             'Bakersfield, CA': 3.3333333333333335,
             'Baltimore, MD': 2.6483050847457625,
             'Bangor, ME': 62.251655629139066,
             'Baton Rouge, LA': 5.454545454545454,
             'Battle Creek, MI': 100.0,
             'Beaumont, TX': 10.0,
             'Bellingham, WA': 7.614213197969544,
             'Bemidji, MN': 100.0,
             'Bend, OR': 6.976744186046512,
             'Billings, MT': 7.373271889400922,
             'Binghamton, NY': 0.0,
             'Birmingham, AL': 4.878048780487805,
             'Bismarck, ND': 4.958677685950414,
             'Bloomington, IL': 6.451612903225806,
             'Bloomington, IN': 50.0,
             'Blytheville, AR': 50.0,
             'Boston, MA': 3.173311635475997,
             'Bowling Green, KY': 33.33333333333333,
             'Bozeman, MT': 0.3597122302158274,
             'Brainerd, MN': 0.0,
             'Brigham City, UT': 100.0,
             'Brookings, SD': 0.0,
             'Brownsville, TX': 62.5,
             'Brownwood, TX': 0.0,
             'Brunswick, GA': 2.5,
             'Buffalo, NY': 27.906976744186046,
             'Burlington, IA': 0.0,
             'Burlington, VT': 37.5,
             'Butte, MT': 6.097560975609756,
             'Carlsbad, NM': 23.636363636363637,
             'Casper, WY': 2.7777777777777777,
             'Cedar City, UT': 20.0,
             'Cedar Rapids, IA': 11.585365853658537,
             'Champaign, IL': 7.142857142857142,
             'Charleston, SC': 23.170731707317074,
             'Charleston, WV': 8.0,
             'Charlotte, NC': 3.189066059225513,
             'Charlottesville, VA': 0.0,
             'Chattanooga, TN': 8.333333333333332,
             'Cheyenne, WY': 1.4705882352941175,
             'Chicago, IL': 10.578621908127209,
             'Chico, CA': 0.0,
             'Cincinnati, OH': 11.963406052076003,
             'Clarksburg, WV': 0.0,
             'Cleveland, OH': 7.086167800453515,
             'Clovis, NM': 18.181818181818183,
             'College Station, TX': 3.8461538461538463,
             'Colorado Springs, CO': 15.428571428571427,
             'Columbia, MO': 25.0,
             'Columbia, SC': 84.23076923076923,
             'Columbia, TN': 100.0,
             'Columbus, GA': 0.0,
             'Columbus, IN': 100.0,
             'Columbus, MS': 16.666666666666664,
             'Columbus, OH': 6.5625,
             'Corpus Christi, TX': 4.25531914893617,
             'Crescent City, CA': 98.86363636363636,
             'Crossville, TN': 100.0,
             'Dallas, TX': 4.672589667653834,
             'Dayton, OH': 36.64772727272727,
             'Decatur, AL': 100.0,
             'Decatur, IL': 0.0,
             'Del Rio, TX': 66.66666666666666,
             'Des Moines, IA': 13.131313131313133,
             'Detroit, MI': 13.493635077793495,
             'Dickinson, ND': 100.0,
             'Dodge City, KS': 0.0,
             'Dothan, AL': 0.0,
             'Dover, DE': 100.0,
             'Dubuque, IA': 14.285714285714285,
             'Duluth, MN': 11.627906976744185,
             'Durango, CO': 0.0,
             'Eau Claire, WI': 10.112359550561797,
             'El Centro, CA': 22.727272727272727,
             'El Dorado, AR': 0.0,
             'El Paso, TX': 29.55665024630542,
             'Elkhart, IN': 100.0,
             'Elko, NV': 4.634146341463414,
             'Elmira, NY': 7.142857142857142,
             'Enid, OK': 0.0,
             'Erie, PA': 9.090909090909092,
             'Eugene, OR': 3.314917127071823,
             'Eureka, CA': 61.29032258064516,
             'Evansville, IN': 22.388059701492537,
             'Fairbanks, AK': 35.294117647058826,
             'Fallon, NV': 0.0,
             'Fargo, ND': 16.176470588235293,
             'Farmington, NM': 0.0,
             'Fayetteville, AR': 5.769230769230769,
             'Fayetteville, NC': 0.0,
             'Flagstaff, AZ': 50.0,
             'Flint, MI': 33.33333333333333,
             'Florence, SC': 11.76470588235294,
             'Fort Dodge, IA': 8.333333333333332,
             'Fort Lauderdale, FL': 15.463917525773196,
             'Fort Leonard Wood, MO': 0.0,
             'Fort Smith, AR': 7.865168539325842,
             'Fort Wayne, IN': 64.51612903225806,
             'Fresno, CA': 1.8957345971563981,
             'Gainesville, FL': 1.4084507042253522,
             'Garden City, KS': 17.5,
             'Gary, IN': 11.504424778761061,
             'Gillette, WY': 0.0,
             'Goldsboro, NC': 100.0,
             'Grand Forks, ND': 44.13145539906103,
             'Grand Island, NE': 7.6923076923076925,
             'Grand Junction, CO': 5.5045871559633035,
             'Grand Rapids, MI': 35.714285714285715,
             'Great Bend, KS': 0.0,
             'Great Falls, MT': 16.867469879518072,
             'Green Bay, WI': 20.8,
             'Greensboro, NC': 15.254237288135593,
             'Greenville, MS': 0.0,
             'Greenville, NC': 16.666666666666664,
             'Greenville, SC': 43.58974358974359,
             'Gulfport, MS': 4.761904761904762,
             'Hagerstown, MD': 0.0,
             'Harrisburg, PA': 10.344827586206897,
             'Harrison, AR': 0.0,
             'Hartford, CT': 6.606606606606606,
             'Hattiesburg, MS': 0.0,
             'Helena, MT': 1.2987012987012987,
             'Hickory, NC': 100.0,
             'Hobbs, NM': 0.0,
             'Honolulu, HI': 24.161073825503358,
             'Hot Springs, AR': 100.0,
             'Houston, TX': 7.403008709422012,
             'Huntsville, AL': 84.12698412698413,
             'Huron, SD': 0.0,
             'Idaho Falls, ID': 30.0,
             'Indianapolis, IN': 34.93044822256569,
             'Ithaca, NY': 15.384615384615385,
             'Jackson, MS': 14.814814814814813,
             'Jackson, WY': 0.0,
             'Jacksonville, FL': 10.875706214689265,
             'Jacksonville, NC': 4.545454545454546,
             'Jamestown, ND': 0.0,
             'Jamestown, NY': 100.0,
             'Johnstown, PA': 0.0,
             'Joplin, MO': 0.0,
             'Kahului, HI': 15.579710144927535,
             'Kalamazoo, MI': 3.7037037037037033,
             'Kalispell, MT': 3.4482758620689653,
             'Kansas City, MO': 13.478260869565217,
             'Kearney, NE': 0.0,
             'Ketchikan, AK': 0.0,
             'Key West, FL': 3.0303030303030303,
             'Killeen, TX': 2.3622047244094486,
             'Kinston, NC': 16.666666666666664,
             'Kirksville, MO': 100.0,
             'Klamath Falls, OR': 28.965517241379313,
             'Knoxville, TN': 15.151515151515152,
             'La Crosse, WI': 19.148936170212767,
             'Lafayette, IN': 0.0,
             'Lafayette, LA': 7.6923076923076925,
             'Lake Charles, LA': 0.0,
             'Lake City, FL': 0.0,
             'Lake Havasu City, AZ': 91.66666666666666,
             'Lakeland, FL': 0.0,
             'Lansing, MI': 2.7522935779816518,
             'Laramie, WY': 0.0,
             'Laredo, TX': 53.142857142857146,
             'Las Cruces, NM': 0.0,
             'Las Vegas, NV': 2.5906735751295336,
             'Lawton, OK': 0.0,
             'Lewiston, ID': 6.60377358490566,
             'Lexington, KY': 82.6086956521739,
             'Liberal, KS': 8.0,
             'Lincoln, NE': 12.790697674418606,
             'Little Rock, AR': 28.78787878787879,
             'Logan, UT': 0.0,
             'London, KY': 100.0,
             'Longview, TX': 2.857142857142857,
             'Los Angeles, CA': 10.760353021045486,
             'Lubbock, TX': 25.6198347107438,
             'Lynchburg, VA': 0.0,
             'Macon, GA': 25.0,
             'Madison, WI': 13.385826771653544,
             'Madisonville, KY': 100.0,
             'Manchester, NH': 12.5,
             'Manhattan, KS': 0.0,
             'Mansfield, OH': 100.0,
             'Marion, IL': 0.0,
             'Marion, OH': 100.0,
             'Marquette, MI': 0.0,
             'Mason City, IA': 33.33333333333333,
             'Medford, OR': 4.424778761061947,
             'Memphis, TN': 41.78010471204188,
             'Merced, CA': 0.0,
             'Meridian, MS': 0.0,
             'Miami, FL': 78.44660194174757,
             'Miami, OK': 100.0,
             'Midland, TX': 2.0408163265306123,
             'Milwaukee, WI': 5.121293800539084,
             'Minneapolis, MN': 1.3812154696132597,
             'Minot, ND': 7.792207792207792,
             'Missoula, MT': 1.098901098901099,
             'Mobile, AL': 21.052631578947366,
             'Modesto, CA': 5.88235294117647,
             'Monroe, LA': 0.0,
             'Montgomery, AL': 12.5,
             'Montrose, CO': 12.5,
             'Morristown, TN': 100.0,
             'Moses Lake, WA': 20.0,
             'Mountain Home, ID': 33.33333333333333,
             'Muncie, IN': 0.0,
             'Muskegon, MI': 0.0,
             'Myrtle Beach, SC': 3.8461538461538463,
             'Naples, FL': 0.8928571428571428,
             'Nashville, TN': 8.190476190476192,
             'New Bern, NC': 0.0,
             'New Iberia, LA': 0.0,
             'New Orleans, LA': 5.922165820642978,
             'New York, NY': 12.213873842390354,
             'Newark, NJ': 4.746317512274959,
             'North Platte, NE': 20.0,
             'Oakland, CA': 19.979919678714857,
             'Ocala, FL': 85.71428571428571,
             'Ogden, UT': 25.0,
             'Oklahoma City, OK': 12.23021582733813,
             'Omaha, NE': 38.70967741935484,
             'Orlando, FL': 5.588462528972444,
             'Oshkosh, WI': 0.0,
             'Paducah, KY': 33.33333333333333,
             'Panama City, FL': 6.666666666666667,
             'Pendleton, OR': 0.0,
             'Pensacola, FL': 2.857142857142857,
             'Peoria, IL': 13.636363636363635,
             'Philadelphia, PA': 4.183154324477106,
             'Phoenix, AZ': 8.086610693769334,
             'Pierre, SD': 0.0,
             'Pittsburgh, PA': 1.1368421052631579,
             'Pocatello, ID': 0.0,
             'Ponca City, OK': 0.0,
             'Port Angeles, WA': 7.82608695652174,
             'Portland, ME': 16.666666666666664,
             'Portland, OR': 11.181770005299416,
             'Providence, RI': 23.91304347826087,
             'Pueblo, CO': 11.666666666666666,
             'Pullman, WA': 0.0,
             'Quincy, IL': 0.0,
             'Raleigh, NC': 3.8181818181818183,
             'Rapid City, SD': 11.864406779661017,
             'Reading, PA': 4.3478260869565215,
             'Redding, CA': 12.5,
             'Reno, NV': 3.3333333333333335,
             'Richmond, VA': 3.0303030303030303,
             'Riverside, CA': 50.0,
             'Riverton, WY': 0.0,
             'Roanoke, VA': 16.3265306122449,
             'Rochester, MN': 16.666666666666664,
             'Rochester, NY': 22.58064516129032,
             'Rock Springs, WY': 0.0,
             'Rockford, IL': 18.248175182481752,
             'Rocky Mount, NC': 100.0,
             'Roseburg, OR': 100.0,
             'Roswell, NM': 1.6129032258064515,
             'Ruidoso, NM': 0.0,
             'Sacramento, CA': 54.27682737169518,
             'Saginaw, MI': 5.88235294117647,
             'Salem, OR': 4.545454545454546,
             'Salina, KS': 40.0,
             'Salt Lake City, UT': 3.7293553542887588,
             'San Angelo, TX': 5.769230769230769,
             'San Antonio, TX': 7.172995780590717,
             'San Diego, CA': 2.810304449648712,
             'San Francisco, CA': 1.2279765082754939,
             'San Jose, CA': 2.2041763341067284,
             'San Luis Obispo, CA': 9.090909090909092,
             'Sandusky, OH': 100.0,
             'Santa Ana, CA': 2.788844621513944,
             'Santa Barbara, CA': 0.0,
             'Santa Fe, NM': 0.0,
             'Santa Rosa, CA': 0.0,
             'Savannah, GA': 7.954545454545454,
             'Scottsbluff, NE': 10.144927536231885,
             'Scranton, PA': 4.3478260869565215,
             'Seattle, WA': 4.512635379061372,
             'Shelbyville, TN': 100.0,
             'Sheridan, WY': 0.0,
             'Shreveport, LA': 25.663716814159294,
             'Sioux City, IA': 0.0,
             'Sioux Falls, SD': 39.57219251336899,
             'South Bend, IN': 3.260869565217391,
             'Spokane, WA': 5.379746835443038,
             'Springfield, IL': 10.784313725490197,
             'Springfield, MO': 9.722222222222223,
             'St. George, UT': 0.0,
             'St. Louis, MO': 2.2900763358778624,
             'State College, PA': 0.0,
             'Staunton, VA': 0.0,
             'Stillwater, OK': 0.0,
             'Stockton, CA': 5.88235294117647,
             'Sumter, SC': 40.0,
             'Syracuse, NY': 10.416666666666668,
             'Tacoma, WA': 20.0,
             'Talladega, AL': 100.0,
             'Tallahassee, FL': 2.2452504317789295,
             'Tampa, FL': 3.166378814047208,
             'Terre Haute, IN': 28.57142857142857,
             'Toledo, OH': 44.79166666666667,
             'Topeka, KS': 6.802721088435375,
             'Traverse City, MI': 43.75,
             'Trenton, NJ': 0.0,
             'Tucson, AZ': 1.694915254237288,
             'Tulsa, OK': 7.086614173228346,
             'Tupelo, MS': 25.0,
             'Tuscaloosa, AL': 44.44444444444444,
             'Twin Falls, ID': 11.76470588235294,
             'Tyler, TX': 0.0,
             'Utica, NY': 0.0,
             'Valdosta, GA': 1.4492753623188406,
             'Waco, TX': 8.333333333333332,
             'Warrensburg, MO': 0.0,
             'Washington, DC': 0.8264462809917356,
             'Waterloo, IA': 20.0,
             'Wausau, WI': 13.461538461538462,
             'Wenatchee, WA': 0.0,
             'West Palm Beach, FL': 20.858164481525627,
             'Wichita Falls, TX': 6.622516556291391,
             'Wichita, KS': 21.31782945736434,
             'Williston, ND': 100.0,
             'Wilmington, DE': 62.5,
             'Wilmington, NC': 5.660377358490567,
             'Wilmington, OH': 100.0,
             'Winchester, VA': 100.0,
             'Worcester, MA': 0.0,
             'Yakima, WA': 4.878048780487805,
             'Youngstown, OH': 1.7361111111111112,
             'Yuma, AZ': 18.181818181818183})


### <strong> Bonus - Data Analysis </strong>
#### Data analysis

<p align="justify">
<font size="3">
Look at the number of almost empty flights and full flights and propose an analysis that explores if there is a correlation between the number of flights connecting two cities, the number of full flights and the percentage of almost empty flights. 

The granularity of the analysis is important: consider for example the week, the month and the year.
</font>
</p>

In [ ]:
# Define here your considerations and your code